
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact</h1>

<br />
<p>As the Principal Test Engineer and Automation Subject Matter Expert, I provide the following and more to the client.</p>
<ul>
    <li>
        Research, Design, Architect, and Implement Custom Test Automation Solutions
    </li>
    <li>
        Build Automation Solutions into the DevOps CI/CD (Jenkins) Pipeline
    </li>
    <li>
        Containerize Automation Test Utilities with Docker
    </li>
    <li>
        Develop Automation Solutions in any Language (Java, C#, Python, Ruby, etc.)
    </li>
    <li>
        Incorporate Popular Frameworks & Processes into Automation Solutions (Behavior-Driven Development, Page-Object Model, Selenium, Appium, RSPEC, Katalon Studio, Eggplant Functional, TestFx, Cucumber, SpecFlow)
    </li>
    <li>
        Automation Lead (Define Coding Standards, Review Code, and Conduct Pair-Programming for Team Members)
    </li>
    <li>
        Corporate Trainer (Provide Presentations on Test Automation)
    </li>
    <li>
        Innovate Test Automation within the Organization
    </li>
</ul>

<br />
<p>Michael Duncan<br />mduncan2600@gmail.com<br />mwduncan2018@gmail.com</p>